.navbar {
  .navbar-collapse {
    @media (max-width: 767px) {
      background-color: rgb(242, 125, 128);
      border-radius: 5px;
      padding-left: 21px;
      padding-right: 21px;
    }
  }
  li {
    a {
      @media (max-width: 767px) {
        color: #fff !important;
      }
    }
  }
}

/***Carousel ****/

.carousel {
  .carousel-inner {
    .overlay {
      p {
        @media (min-width: 992px) {
          @media (max-width: 1199px) {
            width: 78% !important;
          }
        }
        @media (min-width: 768px) {
          @media (max-width: 991px) {
            width: 94% !important;
            //padding: 10px 146px 10px 139px !important;
          }
        }
        @media (max-width: 767px) {
          width: 100% !important;
          padding-left: 81px !important;
          padding-right: 81px !important;
        }
      }
      h2 {
        @media (min-width: 768px) {
          @media (max-width: 991px) {
            //padding: 10px 146px 10px 139px !important;
          }
        }
        @media (max-width: 767px) {
          padding-left: 81px !important;
          font-size: 2em !important;
        }
      }
      button {
        @media (min-width: 768px) {
          @media (max-width: 991px) {
            margin-left: 139px !important;
          }
        }

        @media (max-width: 767px) {
          margin-left: 81px !important;
        }
      }
    }
  }
}

/***icons**/

.container {
  .carousel {
    .icon {
      @media (max-width: 767px) {
        width: 100% !important;
      }
      @media (min-width: 768px) {
        @media (max-width: 991px) {
          width: 50% !important;
        }
      }
      @media (min-width: 992px) {
        @media (max-width: 1199px) {
          width: 30.3333% !important;
          margin-right: 3% !important;
        }
      }
    }
  }
}

.part {
  @media (max-width: 767px) {
    margin-bottom: 86px !important;
  }
  @media (min-width: 768px) {
    @media (max-width: 991px) {
      // width: 50% !important;
      margin-bottom: 86px !important;
    }
  }
}

.women {
  @media (max-width: 767px) {
    padding-bottom: 0;
  }
  button {
    @media (max-width: 767px) {
      position: relative;
      top: -91px;
    }
  }
}

button.butn {
  @media (max-width: 767px) {
    position: relative;
    top: -91px;
  }
}

.third {
  .img {
    @media (max-width: 767px) {
      margin-top: -116px;
    }
  }
}

.Special_Men {
  @media (max-width: 767px) {
    margin-top: -142px !important;
  }
}

.collection {
  @media (max-width: 767px) {
    margin-top: -203px !important;
  }
  .collect {
    @media (max-width: 767px) {
      margin-bottom: 432px !important;
    }
    .caption {
      @media (max-width: 767px) {
        text-align: center !important;
      }
      @media (min-width: 768px) {
        @media (max-width: 991px) {
          text-align: center !important;
        }
      }
    }
    @media (min-width: 768px) {
      @media (max-width: 991px) {
        margin-bottom: 432px !important;
      }
    }
  }
}
.info {
  // @media(min-width: 768px){
  //     @media(max-width: 991px){
  //         height: 35vh !important;
  //     }
  // }
}
